* {
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top h1 {

    font-family: 'Lusitana';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 25px 0;
}

.img-menu img {
    position: absolute;
    height: 70px;
    top: 30px;
    right: 30px;
}
@media only screen and (max-width: 375px) {
    .img-menu img {
        height: 30px;
        top: 5px;
    }
}

.logo{
    height: 130px;
    position: absolute;
    left: 50px;
    top: 2px;
}
.main{
    width: 100%;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.combox{
    width: 400px;
    /*largura*/
    height: 700px;
    display:flex;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    margin-left: 75px;
    margin-right: 60px;
    margin-bottom: 20px;
}

  .combox>img{
    max-width: 60%;
    /*largura*/
    max-height: 80%;
    text-align: center;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
  }
  .combox>h2{
    font-size: 30px;
    text-align: center;
    display: block;
  }
  .combox>h3{
    font-size: 20px;
    display: block;
  }
  .combox>h4{
    font-size: 15px;
    display: block;
  }