* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: rgb(241, 223, 223);
  height: 200px;
  /*altura da header*/
  display: flex;
  align-items: center;
  color: black;
  font-size: 18px;
  /*tamanho da letra menu*/
  font-weight: bolder;
  /*letra em negrito menu*/
}

header .menu {
  justify-content: space-between;
}

header div img {
  width: auto;
  max-width: 100%;
  /*largura da logo*/
  height: 250px
      /*altura da logo*/
}

.list-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 600px;
  /* espacamento entre os menus*/
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list-items .link {
  font-size: 18px;
  border: none;
  color: black;
  line-height: 1.2;
  text-transform: uppercase;
  background: rgb(241, 223, 223);
  text-decoration: none;
}

.list-items .link:hover {
  cursor: pointer;
}

.flex-container {
  display: flex;
  max-width: 85%;
  margin: 30px;
  width: 100%;
}

.quem-somos h1 {
  position: absolute;
  font-size: 49px;
  left: 1200px;
  top: 429px;
}

.quem-somos p {
  position: absolute;
  font-size: 15px;
  left: 1000px;
  top: 530px;
}

.quem-somos img {
  position: absolute;
  width: 556px;
  height: 409px;
  left: 200px;
  top: 300px;
}
